<h1>Game on!</h1>
<form action="/play" method="POST">
  <label for="p1">Player 1 name</label>
  <input type="text" name="p1">
  <label for="p2">Player 2 name</label>
  <input type="text" name="p2">
  <input type="submit" value="Submit">
</form>
