<h1>Game on!</h1>
<h2>Sign in to play</h2>
<form action="/names" method="POST">

  <label for="p1">Player 1 name
    <input type="text" name="p1">
  </label>

  <label for="p2">Player 2 name
     <input type="text" name="p2">
  </label>

  <input type="submit" value="Submit">

</form>
